{%extends "sights/layout.html"%}
{%load static%}

{%block title%}
    Африка
{%endblock%}

{%block extra_css%}
    <link rel="stylesheet" href="{% static 'css/my_css.css' %}">
{%endblock%}

{%block body%}

    <a href="/sights/">Назад</a>
    <div class="cards-container">
        {% for a_s in a_sight %}
        <div class="card">
            <div class="card-image">
                {% if a_s.sight_photo %}
                    <img src="{{ a_s.sight_photo.url }}" alt="{{ a_s.sight_name }}">
                {%endif%}
            </div>
            <div class="card-content">
                <h3>{{ a_s.sight_name }}</h3>
                <p class="country">{{ a_s.sight_country }}</p>
                <p class="info">{{ a_s.sight_information|truncatechars:500}}</p>
            </div>
        </div>
        {% endfor %}
    </div>


{%endblock%}