{%extends "sights/layout.html"%}

{%block title%}
    Ваши впечатления
{%endblock%}
{% load static %}

{%block body%}

    <style>
        body {
            background-image: url("{% static 'sights/photos/fon.jpg' %}") ;
        }

        .big-form {
            max-width: 600px; /* максимальная ширина формы */
            margin: 0 auto;   /* центрирование формы */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .big-form input, 
        .big-form textarea, 
        .big-form select {
            width: 100%;       /* растянуть поля */
            padding: 12px;
            font-size: 1.1rem;
            margin-bottom: 15px;
            border-radius: 8px;
            border: 1px solid #ccc;
        }
        .form-container {
            background: rgba(255, 255, 255, 0.1); /* прозрачность */
            backdrop-filter: blur(10px);          /* размытие фона */
            padding: 30px;
            color: white;
            border: 1px solid rgba(255, 255, 255, 0.3);
        }
            
    </style>

    <a href="/sights/">Назад</a>
    <h3 style="text-align: center;">Заполните форму</h3>
    <form method="post" enctype="multipart/form-data" class="big-form" class="card" class="form-container">
        {% csrf_token %}
        {{buy_tour.as_p}}
        <input type="submit">
    </form>
{%endblock%}