{%extends "sights/layout.html"%}

{%block title%}
    Ваши впечатления
{%endblock%}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{%endblock%}

{%block content%}

    <a href="/sights/">Назад</a>
    <h3 style="text-align: center;">Заполните форму</h3>
    {% if request.user.is_authenticated %}
        <form method="post"  class="big-form" class="card" class="form-container">
            {% csrf_token %}
            {{form.as_div}}
            <input type="submit">
        </form>
    {% else %}
        <p>Пожалуйста, <a href="/sights/login/">зарегистрируйтесь</a></p>
    {%endif%}
{%endblock%}