{%extends "sights/layout.html"%}
{%load static%}
{%block title%}
    Впечатления и опыт других людей
{%endblock%}
{% block extra_css%}
    <link rel="stylesheet" href="{% static 'css/my_css.css' %}">
{%endblock%}


{%block body%}

    <a href="/sights/">Назад</a>
    <div class="cards-container">
        {% for f in model %}
        <div class="card">
            <div class="card-content">
                <h3>{{ f.your_name }}</h3>
                <h3>{{ f.your_surname }}</h3>
                <h3>{{ f.your_patronimyc }}</h3>
                <h3>{{ f.wished_country_for_visiting }}</h3>
                <h3>{{ f.adult_amount }}</h3>
                <h3>{{ f.children_amount}}</h3>
            </div>
        </div>
        {% endfor %}
    </div>

    
{%endblock%}