{%extends 'sights/layout.html'%}
{%block title%} Топ лучших и наиболее посещаемых достопримечательностей мира 
Бронирование билетов и туров
{%endblock%}
{% load static %}


{%block extra_css%}
    <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/main_css.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal_style.css' %}">

{%endblock%}


{%block content%} 

<header class="navbar">
    <nav class="nav-links">
        <div class="glass-buttons">
            <div id="eurasia" class="glass-btn">
                <a href="/sights/euro/" class="button-link">Евразия</a>
            </div>

            <div id="south_america" class="glass-btn">
                <a href="/sights/south_am/" class="button-link">Южная Америка</a>
            </div>

            <div id="africa" class="glass-btn">
                <a href="/sights/africa/" class="button-link">Африка</a>
            </div>

            <div id="north_america" class="glass-btn">
                <a href="/sights/north_am/" class="button-link">Северная Америка</a>
            </div>

            <div id="australia" class="glass-btn">
                <a href="/sights/australia/" class="button-link">Австралия</a>
            </div>
        </div>
    </nav>
</header>


<section class="hero" style="margin-top: 80px;">
    <div class="hero-content">
        <h1 class="hero-title" style="font-size: 76px;">Мир в объективе всех годов</h1>
        <p class="hero-subtitle">Откройте для себя самые захватывающие локации планеты: от затерянных храмов Востока до футуристических мегаполисов. Ваше следующее приключение начинается здесь.</p>
        <a href="/sights/routes/"><button>
                Интерактивная карта мира
            </button>
        </a> 
        <a href="/sights/quiz/">
            <button>
                Пройти викторину
            </button> 
        </a>
    </div>
</section>



<div class="cards-container">
        {% for c in card %}
        <div class="card">
            <div class="card-image">
                {% if c.image %}
                    <img src="{{ c.image.url }}" alt="{{ c.name }}">
                {%endif%}
            </div>
            <div class="card-content">
                <h3>{{ c.name }}</h3>
                <p class="country">{{ c.country }}</p>
                <p class="info">{{ c.information|truncatechars:100}}</p>
                <span class="rating">★ {{c.rating}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
   
        
<footer class="modern-footer">
    <div class="footer-line"></div>
    
    <div class="footer-wrapper">
        <div class="footer-content">
            <div class="footer-info">
                <a href="#" class="footer-logo">My<span>SITE</span></a>
                <div class="social-links">
                    <a href="/sights/food/"><button style="margin-left: 250px;">Где поесть?</button></a> 
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <p>© 2026 MySite. Сделано с вдохновением.</p>
            <div class="legal-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
            </div>
        </div>
    </div>
</footer>



{%endblock%} 