{%extends "sights/layout.html"%}
{% load static %}
{%block title%} Quiz Game {%endblock%}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/quiz_style.css' %}">
{%endblock%}



{% block content %}
    <div class="container">
      <div class="screen active" id="start-screen">
        <h1>Quiz Time!</h1>
        <p>Проверьте ваши знания о нашей Планете</p>
        <button id="start-btn">Начать</button>
      </div>

      <div class="screen" id="quiz-screen">
        <div class="quiz-header">
          <h2 id="question-text">Вопросы</h2>
          <div class="quiz-info">
            <p>
              Вопрос <span id="current-question">1</span> из <span id="total-questions">5</span>
            </p>

            <p>Баллы: <span id="score">0</span></p>
          </div>
        </div>

        <div id="answers-container" class="answers-container">
        </div>

        <div class="progress-bar">
          <div id="progress" class="progress"></div>
        </div>
      </div>

      <div id="result-screen" class="screen">
        <h1>Результаты</h1>
        <div class="result-info">
          <p>Ваши баллы  <span id="final-score">0</span> из <span id="max-score">5</span></p>

          <div id="result-message">Отлично</div>
        </div>
        <button id="restart-btn">Начать заново</button>
        <a href="/sights/"><button>На главную</button></a>
      </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>


{%endblock%}